<html>

    <head>
        <link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <title>Buildbot Dashboard</title>
        <link rel="stylesheet" href="static/css/dashboard.css" type="text/css" />
    </head>
    
    <body>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/dashboard.js"></script>
    
        
        <div id="container">
            <table>
                <tr id="building"></tr>
            </table>
            <table>
                <tr id="exception"></tr>
            </table>
            <table>
                <tr id="failed"></tr>
            </table>
            <table>            
                <tr id="build"></tr>
            </table>
        </div>
    </body>

</html>