body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Droid Sans', arial, serif;
}

table {
        width: 100%;
}

table td {
    text-align: center;
    vertical-align: top;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;

}

table h2 {
    text-align: center;
}

table h3 {
    text-align: center;
    padding-top: 10px;
}

ul {
    margin: 0 auto;
    padding: 0;  
    
}

li {
    list-style-type: none;
    padding-left: 5px;

}

li img {
    float: left;
}

#building {
    clear: both;
}

#failed {
    clear: both;
}

#build {
    clear: both;
}

#exception .build-item {
    background-color: #FF00FF;
    border: 5px solid #CC00CC;
}

#building .build-item {
    background-color: #FF6;
    border: 5px solid #CC3;
    color: black;
}

#build .build-item {
    background-color: #008000;
    border: 5px solid #006600;
}

#failed .build-item {
    background-color: C00;
    border: 5px solid #900;
}

.build-item {
    width: 200px;
    font-style: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item-failed {
    background-image:url('../img/failed.png');
    background-repeat:no-repeat;
    background-position: 5px 0px;
}

.item-build {
    background-image:url('../img/passed.png');
    background-repeat:no-repeat;
    background-position: 5px 0px;
}

.time {
    padding: 5px;
    font-size: 75%;
    font-style: italic;
    text-align: right; 
}

.state {
    padding: 5px;
    font-size: 75%;
    font-style: italic;
    text-align: left;
}

.loading {
    background-image:url('../img/building.png');
    background-repeat:no-repeat;
    background-position: top right;
}

a {
    text-decoration: none;
    color: white;
}

#building .build-item a {
    color: black;
}

